.header {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #fcfef2;
}

.logo {
  width: 48px;
  margin-right: 3rem;
}

.navList {
  position: relative;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  z-index: 1;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.footer {
  
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  color: black;
  background-color: #fcfef2;
}